 .u-section-1 {
  background-image: linear-gradient(to right, #191049, #9845dd);
}

.u-section-1 .u-sheet-1 {
  min-height: 741px;
}

.u-section-1 .u-video-1 {
  width: 927px;
  height: 554px;
  margin: 27px auto 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 60px auto 0 120px;
  padding: 6px 102px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -40px 120px 60px auto;
  padding: 6px 102px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 75px;
    margin-left: 99px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 141px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-1 .u-video-1 {
    width: 720px;
    height: 430px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 79px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: auto;
    margin-left: 425px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 323px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 27px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 27px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 203px;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 70px;
    padding-left: 68px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 26px;
    margin-bottom: 44px;
  }
}