 .u-section-1 {
  min-height: 1330px;
  background-image: linear-gradient(black, #1a0f49);
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: 27px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 1026px;
  grid-gap: 30px 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 28px 0;
}

.u-section-1 .u-image-1 {
  height: 223px;
  object-position: 28.84% 31.66%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 27px 37px 0 23px;
}

.u-section-1 .u-text-2 {
  margin: 9px 37px 0 23px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0 23px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 28px 0;
}

.u-section-1 .u-image-2 {
  height: 223px;
  object-position: 0% 2.48%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 27px 37px 0 23px;
}

.u-section-1 .u-text-4 {
  margin: 9px 37px 0 23px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0 23px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 28px 0;
}

.u-section-1 .u-image-3 {
  height: 223px;
  object-position: 0% 21.66%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 27px 37px 0 23px;
}

.u-section-1 .u-text-6 {
  margin: 9px 37px 0 23px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0 23px;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 28px 0;
}

.u-section-1 .u-image-4 {
  height: 223px;
  object-position: 8.04% 21.66%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 27px 37px 0 23px;
}

.u-section-1 .u-text-8 {
  margin: 9px 37px 0 23px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0 23px;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 28px 0;
}

.u-section-1 .u-image-5 {
  height: 223px;
  object-position: 82.73% 21.66%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 27px 37px 0 23px;
}

.u-section-1 .u-text-10 {
  margin: 9px 37px 0 23px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0 23px;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 28px 0;
}

.u-section-1 .u-image-6 {
  height: 223px;
  object-position: 50% 21.66%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 27px 37px 0 23px;
}

.u-section-1 .u-text-12 {
  margin: 9px 37px 0 23px;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0 23px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 842px;
  }

  .u-section-1 .u-image-1 {
    height: 184px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    height: 184px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    height: 184px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    height: 184px;
    background-position: 100% 50%;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    height: 184px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    height: 184px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 1493px;
  }

  .u-section-1 .u-image-1 {
    height: 211px;
  }

  .u-section-1 .u-image-2 {
    height: 211px;
  }

  .u-section-1 .u-image-3 {
    height: 211px;
  }

  .u-section-1 .u-image-4 {
    height: 211px;
  }

  .u-section-1 .u-image-5 {
    height: 211px;
  }

  .u-section-1 .u-image-6 {
    height: 211px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1087px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 936px;
    grid-auto-columns: calc(50% - 15px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .u-section-1 .u-image-1 {
    height: 139px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.75rem;
    width: auto;
    margin-right: -19px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.625rem;
    width: auto;
    margin-right: 17px;
    margin-left: 19px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 9px;
    padding: 0 14px 0 13px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .u-section-1 .u-image-2 {
    height: 139px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.75rem;
    width: auto;
    margin-right: -19px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    font-size: 0.625rem;
    margin-right: 17px;
    margin-left: 19px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.625rem;
    margin-top: 9px;
    padding: 0 14px 0 13px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .u-section-1 .u-image-3 {
    height: 139px;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.75rem;
    width: auto;
    margin-right: -19px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    font-size: 0.625rem;
    margin-right: 17px;
    margin-left: 19px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.625rem;
    margin-top: 9px;
    padding: 0 14px 0 13px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .u-section-1 .u-image-4 {
    height: 139px;
  }

  .u-section-1 .u-text-7 {
    font-size: 0.75rem;
    width: auto;
    margin-right: -19px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    font-size: 0.625rem;
    margin-right: 17px;
    margin-left: 19px;
  }

  .u-section-1 .u-btn-4 {
    font-size: 0.625rem;
    margin-top: 9px;
    padding: 0 14px 0 13px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .u-section-1 .u-image-5 {
    height: 139px;
  }

  .u-section-1 .u-text-9 {
    font-size: 0.75rem;
    width: auto;
    margin-right: -19px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    font-size: 0.625rem;
    margin-right: 17px;
    margin-left: 19px;
  }

  .u-section-1 .u-btn-5 {
    font-size: 0.625rem;
    margin-top: 9px;
    padding: 0 14px 0 13px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .u-section-1 .u-image-6 {
    height: 139px;
  }

  .u-section-1 .u-text-11 {
    font-size: 0.75rem;
    width: auto;
    margin-right: -19px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    font-size: 0.625rem;
    margin-right: 17px;
    margin-left: 19px;
  }

  .u-section-1 .u-btn-6 {
    font-size: 0.625rem;
    margin-top: 9px;
    padding: 0 14px 0 13px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-bottom: 45px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 888px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-1 .u-image-1 {
    height: 92px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 18px;
    margin-right: 3px;
    margin-left: 14px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 14px;
    margin-left: auto;
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-1 .u-image-2 {
    height: 92px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 18px;
    margin-right: 3px;
    margin-left: 14px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.5625rem;
    margin-top: 0;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 14px;
    margin-left: auto;
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-1 .u-image-3 {
    height: 92px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 18px;
    margin-right: 3px;
    margin-left: 14px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 0;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 14px;
    margin-left: auto;
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-1 .u-image-4 {
    height: 92px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 18px;
    margin-right: 3px;
    margin-left: 14px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 0;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 14px;
    margin-left: auto;
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-1 .u-image-5 {
    height: 92px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 18px;
    margin-right: 3px;
    margin-left: 14px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 0;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 14px;
    margin-left: auto;
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-1 .u-image-6 {
    height: 92px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 18px;
    margin-right: 3px;
    margin-left: 14px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 0;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 14px;
    margin-left: auto;
    padding-left: 8px;
    padding-right: 8px;
  }
}