.u-section-1 .u-sheet-1 {
  min-height: 276px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-style: italic;
  font-size: 2.25rem;
  margin: 46px auto 0 19px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-style: italic;
  margin: 38px auto 0 19px;
}

.u-section-1 .u-text-3 {
  margin: 38px auto 60px 19px;
}